body, div, table, tr, th, td, thead, tbody, span, img, input {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #e6ebf2;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p, h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
}

input, textarea, select {
    font-size: 1rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 0rem;
    margin: 0rem auto;
}

iframe {
    display: block;
    max-width: 100%;
    height: auto;
    border: 0rem;
    margin: 0rem auto;
}

table {
    margin: 0.1rem auto;
    border-collapse: collapse;
    display: block;
}

tr {

}

th {
    border: 0.1rem solid #4b78bc;
    padding: 0.2rem;
}

td {
    border: 0.1rem solid #4b78bc;
    padding: 0.2rem;
}

div.appbanner {
    position: fixed;
    height: 3rem;
    line-height: 3rem;
    top: 0;
    width: 100%;
    z-index: 100;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    background-color: #4b78bc;
    margin: 0rem;
    border-style: none;
    text-align: center;
    vertical-align: middle;
}

div.regionstatus {
    margin: 3.5rem 0.5rem 0.5rem 0.5rem;
}

div.beaconstatus {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.actioncommon {
    box-sizing: border-box;
    -webkit-appearance: none;
    display: block;
    margin: 0.5rem auto;
    border-radius: 0rem;
    width: 100%;
    max-width: 30rem;
    overflow: hidden;
    text-decoration: none;
    hyphens: auto;
    word-wrap: break-word;
    vertical-align: middle;
}

.actionbutton {
    padding: 1rem;
    color: white;
    background-color: #4b78bc;
    text-align: center;
    font-weight: bold;
    border-style: none;
    font-size: 1.4rem;
}

.debug {
    
}
